.vote-kdm{
  margin-bottom: 99px;
  &--results{
    .card__item{
      &:nth-child(1){
        background-color: #FFD700;
      }
      &:nth-child(2){
        background-color: #c0c0c0;
      }
      &:nth-child(3){
        background-color: #b87333;
      }
      .vote-kdm__mesto{
        position: absolute;
        top: 0;
        right: 0;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #000000;
        z-index: 1;
      }
    }
  }
  &__header{
    margin-bottom: 50px;
  }
  &__title{
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    margin: 0;
    color: #333333;
  }
  &__filter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__filter-select{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    flex: 1 0 auto;
  }
  &__body{
    display: flex;
    flex-wrap: wrap;
  }
  .card__item{
    flex: 1 0 25%;
    max-width: 334px;
  }
  &__item{
    padding: 23px;
  }
  &__figure{
    background-color: #fff;
    margin: 0 0 12px;
    position: relative;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      display: block;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      margin: 0 auto;
    }
  }
  &__zoom{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  &__link{
    text-decoration: none;
    display: block;
  }
  &__name{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
  }
  &__year{
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #888E94;
    margin-bottom: 7px;
  }
  &__btn{
    max-width: 197px;
    width: 100%;
    margin: 0 auto 11px;
    display: block;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #333333;
    border: 1px solid #EB222D;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 12px 18px;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    &.disabled{
      background: #E5EBF0;
      border-radius: 12px;
      border-color: #E5EBF0;
      pointer-events: none;
    }
  }
  &__btn-primary{
    max-width: 197px;
    width: 100%;
    margin: 0 auto 11px;
    display: block;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    background-color: #EB222D;
    border: 1px solid #EB222D;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 12px 18px;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  &__vote{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
  }
  &__footer{
    margin-top: 40px;
  }
  &__search{
    position: relative;
    flex:1 0 641px ;
  }
  &__search-submit{
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translate(0,-50%);
    border: none;
    background-color: transparent;
    background-image: url("../img/search-kdm.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 24px;
    height: 24px;
  }
  .form-control{
    padding: 1rem 0.75rem 1rem 60px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #333333;
  }
  .sort__select .jq-selectbox{
    width: fit-content;
  }

  .form-select {
    padding: .87rem 2rem .87rem 1rem;
    border: none;
    display: block;
    width: fit-content;
    max-width: 200px;
    border-radius: 12px;
    -moz-padding-start: calc(0.75rem - 3px);
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgOCA3IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNS43MzIwNSA2QzQuOTYyMjUgNy4zMzMzMyAzLjAzNzc1IDcuMzMzMzMgMi4yNjc5NSA2TDAuNTM1ODk5IDNDLTAuMjMzOTAyIDEuNjY2NjcgMC43MjgzNDkgMCAyLjI2Nzk1IDBINS43MzIwNUM3LjI3MTY1IDAgOC4yMzM5IDEuNjY2NjcgNy40NjQxIDNMNS43MzIwNSA2WiIgZmlsbD0iIzMzMzMzMyIvPgo8L3N2Zz4K");
    background-size: 8px 8px;
    &:hover {
      outline: none;
    }
    &:focus {
      outline: none;
    }
    &:disabled {
    }
    &::placeholder {

    }
    &_error {

    }
  }
  @include r(767){
    &__header{
      margin-bottom: 29px;
    }
    &__title{
      font-size: 24px;
      line-height: 32px;
    }
  }
}