<footer class="footer">
    <div class="container">
        <div class="footer__body">
            <div class="footer__left">
                <div class="footer__contact">
                    <a class="footer__phone" href="tel:88002500600">8-800-2500-600</a>
                    <a class="footer__call" href="#" data-remodal-target="modal-main" data-remodal-get="web_forms" data-remodal-params="ID=CALLBACK">Заказать звонок</a>
                    <a class="footer__email" href="mailto:info@mpr-shop.ru">info@mpr-shop.ru</a>
                    <span class="footer__adres">г. Екатеринбург, ул. Фурманова, д. 126, оф. 416</span>
                </div>
                <div class="footer__social">
                    <noindex>
                        <a href="https://vk.com/mpr.shop" rel="nofollow" target="_blank"><img class=" lazyloaded" src="/bitrix/templates/mpr_new/img/vk.svg" data-src="/bitrix/templates/mpr_new/img/vk.svg" alt=""></a>
                    </noindex>
                    <noindex>
                        <a href="https://www.youtube.com/channel/UCVcq6zRtXEvDlBAHIr_Q4zg/" rel="nofollow" target="_blank"><img class=" lazyloaded" src="/bitrix/templates/mpr_new/img/youtube.svg" data-src="/bitrix/templates/mpr_new/img/youtube.svg" alt=""></a>
                    </noindex>
                    <noindex>
                        <a href="https://ok.ru/group/55195633057969" rel="nofollow" target="_blank"><img class=" lazyloaded" src="/bitrix/templates/mpr_new/img/ok.svg" data-src="/bitrix/templates/mpr_new/img/ok.svg" alt=""></a>
                    </noindex>
                    <noindex>
                        <a href="https://zen.yandex.ru/mpr_shop" rel="nofollow" target="_blank"><img class=" lazyloaded" src="/bitrix/templates/mpr_new/img/dzen2.svg" data-src="/bitrix/templates/mpr_new/img/dzen2.svg" alt=""></a>
                    </noindex>
                </div>
            </div>
            <div class="footer__menu">
                <ul class="footer__list">
                    <li><a href="/company/">О магазинах</a></li>
                    <li><a href="/company/news/">Новости</a></li>
                    <li><a href="/articles/">Статьи</a></li>
                    <li><a href="/contacts/">Контакты</a></li>
                    <li><a href="/company/partners/">Партнерам</a></li>
                    <li><a href="/company/service/">Сервисные центры</a></li>

                </ul>
            </div>
            <div class="footer__right">
                <div class="footer__logo">
                    <div><img class=" lazyloaded" src="https://mpr-shop.ru/bitrix/templates/mpr_new/img/logo-mpr-w.svg" data-src="/bitrix/templates/mpr_new/img/logo-mpr-w.svg" width="200" height="53" alt="">
                    </div>
                    <p class="footer__copy">© 2022 Магазин постоянных распродаж (МПР)</p>
                </div>
                <div class="footer_paykeeper">
                    <img class=" lazyloaded" src="https://mpr-shop.ru/bitrix/templates/mpr_new/img/paykeeper.png" data-src="/bitrix/templates/mpr_new/img/paykeeper.png" alt="">
                </div>
                <div class="footer_paykeeper ">
                    <a href="/include/soglasie-posetitelya-sayta-na-obrabotku-personalnykh-dannykh.php" class="soglasie">Согласие посетителя сайта на обработку персональных данных</a>
                </div>
            </div>
        </div>
    </div>
</footer>