<div class="alert alert-danger">
    <div class="container">
        <div class="alert__body">
            <h1 class="indexH1">
                <span>МАГАЗИН ПОСТОЯННЫХ РАСПРОДАЖ</span>
            </h1>
            <a class="alert__phone" href="tel:88002500600">8-800-2500-600</a>
        </div>
    </div>
</div>
<header class="header">
    <div class="alert_fixed_message">
        <div class="container">
            <div class="alert_fixed_message_inner">
                <span>МАГАЗИН ПОСТОЯННЫХ РАСПРОДАЖ</span>
                <a class="alert__phone" href="tel:88002500600">8-800-2500-600</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header__top">
            <a href="/" class="header__logo">
                <img src="https://mpr-shop.ru/bitrix/templates/mpr_new/img/logo-mpr.svg" width="358" height="90" alt="">                   <img class="mobile lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/bitrix/templates/mpr_new/img/logo-mpr-small.svg" width="90" height="30" alt="">
            </a>
            <div class="header__top-search d-none">
            </div>
            <button class="header__btn js-menu-catalog">Каталог</button>
            <div class="header__select-delivery js-select-delivery">
                <div data-remodal-target="modal-main" data-remodal-get="cities" style="margin-right:4px;">
                    <span class="H"><b>Ваш город</b> Озерск</span>
                </div>
            </div>
            <a class="header__phone" href="tel:88002500600">8-800-2500-600</a>
            <div class="header__control">
                <div class="header_phone js-phone-drop" title="Заказать звонок">
                    <ul class="header__list header_phone__list menu__list menu__list--drop" title="">
                        <li><a href="tel:88002500600">8-800-2500-600</a></li>
                        <li><a href="#" data-remodal-target="modal-main" data-remodal-get="web_forms" data-remodal-params="ID=CALLBACK">Заказать звонок</a></li>
                    </ul>
                </div>
                <a class="header__auth" href="#" data-remodal-target="modal-main" data-remodal-get="auth" data-remodal-params="TYPE=AUTH" title="Авторизация (Вход)"></a>
            </div>
            <button id="header-burger" class="header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="header__bottom">
            <button class="header__btn js-menu-catalog">Каталог</button>
            <div id="title-search" class="title-search" data-da=".header__top-search,767,2">
                <form id="search-form" class="search-form" action="/catalog/" data-dashlane-rid="acdb1d511eba457d" data-form-type="">
                    <input type="hidden" name="category" value="1" id="search-form__select">
                    <div class="search-form__inner">
                        <input id="js-input-search" class="search-form__input digi-instant-search jc-ignore" placeholder="Поиск" type="text" name="q" value="" autocomplete="off" data-dashlane-rid="2690377622b4a82b" data-form-type="">
                        <input class="search-form__submit" name="s" type="submit" value="" data-dashlane-rid="2f8a7746b5721e56" data-form-type="">
                        <div id="search-form__close" class="search-form__close"></div>
                    </div>
                </form>
            </div>
            <ul class="menu-header">
                <li>
                    <a href="/sale/">
                        <img class="menu-header__icon lazyloaded" src="https://mpr-shop.ru/bitrix/templates/mpr_new/img/percent-icon.svg" data-src="/bitrix/templates/mpr_new/img/percent-icon.svg" width="24" height="24" alt="">
                        Акции
                    </a>
                </li>
                <li>
                    <a href="/shops/">
                        <img class="menu-header__icon lazyloaded" src="https://mpr-shop.ru/bitrix/templates/mpr_new/img/adres-icon.svg" data-src="/bitrix/templates/mpr_new/img/adres-icon.svg" width="24" height="24" alt="">
                        Адреса магазинов
                    </a>
                </li>
                <li>
                    <a href="#" id="js-menu-dropdown" class="down-icon ">
                        <img class="menu-header__icon lazyloaded" src="https://mpr-shop.ru/bitrix/templates/mpr_new/img/company-icon.svg" data-src="/bitrix/templates/mpr_new/img/company-icon.svg" width="24" height="24" alt="">
                        Компания
                    </a>
                    <ul class="menu-header__down">
                        <li><a href="/company/">О магазинах</a></li>
                        <li><a href="/company/news/">Новости</a></li>
                        <li><a href="/contacts/">Контакты</a></li>
                        <li><a href="/company/partners/">Партнерам</a></li>
                        <li><a href="/company/delivery/">Доставка и оплата</a></li>
                        <li><a href="/company/service/">Сервисные центры</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>