.icon {
    display: inline-block;
    position: relative;
    margin-right: 14px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.icon-empire {
    background-image: url("../img/icons-sprite.svg#empire");
}

.icon-burger-light {
    background-image: url("../img/icons-sprite.svg#icon-burger-light");
}
.icon-burger-dark {
    background-image: url("../img/icons-sprite.svg#icon-burger-dark");
}
.icon-burger-blue {
    background-image: url("../img/icons-sprite.svg#icon-burger-blue");
}
.icon-login {
    background-image: url("../img/icons-sprite.svg#login");
}
.icon-city {
    background-image: url("../img/icons-sprite.svg#icon-city-cart-light");
}
.icon-checkmark {
    background-image: url("../img/icons-sprite.svg#checkmark");
    width: 40px;
    height: 40px;
}

.icon-time {
    width: 21px;
    height: 21px;
    margin-right: 10px;
    background-image: url("../img/icons-sprite.svg#time");
}
.icon-time-green {
    width: 21px;
    height: 21px;
    margin-right: 10px;
    background-image: url("../img/icons-sprite.svg#time-green");
}

.icon-email {
    background-image: url("../img/icons-sprite.svg#email");
}

.icon-slider-arrow-light {
    background-image: url("../img/icons-sprite.svg#slider-arrow-light");
}

.icon-stock {
    background-image: url("../img/icons-sprite.svg#stock");
}

.icon-anticrisis {
    background-image: url("../img/icons-sprite.svg#anticrisis");
}

.icon-fixed {
    background-image: url("../img/icons-sprite.svg#icon-fixed");
}

.icon-specredlozhenie {
    background-image: url("../img/icons-sprite.svg#icon-specredlozhenie");
}

.icon-delivery {
    background-image: url("../img/icons-sprite.svg#delivery");
}
.icon-basket-btn {
    background-image: url("../img/icons-sprite.svg#basket-btn");
}
.icon-star {
    background-image: url("../img/icons-sprite.svg#star");
}

//меню
.icon-aromatizatory {
    background-image: url("../img/menu-sprite.svg#aromatizatory");
}
.icon-avto {
    background-image: url("../img/menu-sprite.svg#avto");
}
.icon-bytovaya-khimiya {
    background-image: url("../img/menu-sprite.svg#bytovaya-khimiya");
}
.icon-bytovaya-tekhnika {
    background-image: url("../img/menu-sprite.svg#bytovaya-tekhnika");
}
.icon-dacha-i-sad {
    background-image: url("../img/menu-sprite.svg#dacha-i-sad");
}
.icon-domashniy-tekstil {
    background-image: url("../img/menu-sprite.svg#domashniy-tekstil");
}
.icon-elektrotekhnika {
    background-image: url("../img/menu-sprite.svg#elektrotekhnika");
}
.icon-galantereya {
    background-image: url("../img/menu-sprite.svg#galantereya");
}
.icon-instrumenty {
    background-image: url("../img/menu-sprite.svg#instrumenty");
}
.icon-kantselyarskie-tovary {
    background-image: url("../img/menu-sprite.svg#kantselyarskie-tovary");
}
.icon-khoztovary {
    background-image: url("../img/menu-sprite.svg#khoztovary");
}
.icon-podarki {
    background-image: url("../img/menu-sprite.svg#podarki");
}
.icon-posuda {
    background-image: url("../img/menu-sprite.svg#posuda");
}
.icon-santehnika {
    background-image: url("../img/menu-sprite.svg#santehnika");
}
.icon-sport {
    background-image: url("../img/menu-sprite.svg#sport");
}
.icon-tovary-dlya-detey {
    background-image: url("../img/menu-sprite.svg#tovary-dlya-detey");
}
.icon-turizm {
    background-image: url("../img/menu-sprite.svg#turizm");
}

.icon-vk {
    background-image: url("../img/icons-sprite.svg#icon-vk");
}
.icon-manager {
    background-image: url("../img/icons-sprite.svg#icon-manager");
}
.icon-gala-catalog {
    background-image: url("../img/icons-sprite.svg#icon-gala-catalog");
}
.icon-api {
    background-image: url("../img/icons-sprite.svg#icon-api");
}
.icon-arrow-select-dark {
    background-image: url("../img/icons-sprite.svg#arrow-select-dark");
}

.icon-arrow-select-gray {
    background-image: url("../img/icons-sprite.svg#arrow-select-gray");
}

.icon-accordion-close {
    background-image: url("../img/icons-sprite.svg#icon-accordion-close");
}
.icon-accordion-open {
    background-image: url("../img/icons-sprite.svg#icon-accordion-open");
}
.icon-close {
    background-image: url("../img/icons-sprite.svg#close");
}
.icon-price-list {
    background-image: url("../img/icons-sprite.svg#icon-price-list");
}
.icon-mail-blue {
    background-image: url("../img/icons-sprite.svg#icon-mail-blue");
}
.icon-question-blue {
    background-image: url("../img/icons-sprite.svg#icon-question-blue");
}

.icon-card {
    background-image: url("../img/icons-sprite.svg#icon-card");
}
.icon-cash {
    background-image: url("../img/icons-sprite.svg#icon-cash");
}
.icon-pickup {
    background-image: url("../img/icons-sprite.svg#icon-pickup");
}
.icon-ship {
    background-image: url("../img/icons-sprite.svg#icon-ship");
}
.icon-train {
    background-image: url("../img/icons-sprite.svg#icon-train");
}

.icon-outline-phone {
    background-image: url("../img/icons-sprite.svg#icon-outline-phone");
}
.icon-placemark {
    background-image: url("../img/icons-sprite.svg#icon-placemark");
}
.icon-ruble {
    background-image: url("../img/icons-sprite.svg#icon-ruble");
}
.icon-basket-delete {
    background-image: url("../img/icons-sprite.svg#icon-basket-delete");
}

.icon-like-blue {
    background-image: url("../img/icons-sprite.svg#like-blue");
}
.icon-like-gray {
    background-image: url("../img/icons-sprite.svg#like-gray");
}
.icon-like-red {
    background-image: url("../img/icons-sprite.svg#like-red");
}

.icon-add {
    background-image: url("../img/icons-sprite.svg#icon-add");
}

.icon-minus {
    background-image: url("../img/icons-sprite.svg#icon-minus");
}

.icon-plus {
    background-image: url("../img/icons-sprite.svg#icon-plus");
}

.icon-percent {
    background-image: url("../img/icons-sprite.svg#icon-percent");
}

.icon-filter {
    background-image: url("../img/icons-sprite.svg#icon-filter");
}
.icon-filter-blue {
    background-image: url("../img/icons-sprite.svg#icon-filter-blue");
}

.icon-login-white {
    background-image: url("../img/icons-sprite.svg#icon-login-white");
}

.icon-star-light {
    background-image: url("../img/icons-sprite.svg#icon-star-light");
}
.icon-star-select {
    background-image: url("../img/icons-sprite.svg#icon-star-select");
}

.icon-basket-btn-white {
    background-image: url("../img/icons-sprite.svg#basket-btn-white");
}

.icon-ylm {
    background-image: url("../img/icons-sprite.svg#icon-ylm");
}
.icon-search-blue {
    background-image: url("../img/icons-sprite.svg#search-blue");
}
.icon-arrow-back {
    background-image: url("../img/icons-sprite.svg#arrow-back");
    width: 12px;
    height: 19px;
    margin-right: 10px;
}