@import "./mixin";
@import "./form";

.main--page.landing{
  margin-bottom: 0;
}
.modal-ok{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(21, 33, 55, 0.8);
  box-shadow: 0 5px 14px rgba(21, 33, 55, 0.1);
  border-radius: 16px;
  padding: 32px;
  max-width: 500px;
  width: 100%;
  z-index: 10;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  color: #FFFFFF;
  img{
    display: block;
    margin: 0 auto 12px;
  }
  p{
    margin: 0;
  }
}

.warning-kdm{
  margin: 50px 0;
  &__warning{
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #333333;
    margin: 0;
  }
}

.rang-kdm{
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100vw;
  img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    height: 100%;
  }
}

@import "componets/page-kdn";
@import "componets/form-kdm";
@import "componets/vote-kdm";